body {
  background: url('img/malaysia.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
}

.hero {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  bottom: 0;
  background-color: rgba(31, 30, 75, 0.5);
}

/* navbar */
.navbar {
  background-color: rgba(69, 106, 171, 0.5);
}

.navbar a {
  color: #fff;
  font-size: 25px;
}
/* i sun not showing */

/* weather section */
.weather {
  border: 1px solid #ffffff;
  margin-top: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#icon-desc {
  font-size: 5rem;
  padding-top: 2rem;
}

#desc {
  font-size: 2rem;
}

/*Thermometer*/
#temperature {
  font-size: 7rem;
}
#icon-thermometer {
  font-size: 5rem;
}

/*weather body section*/
.humidity,
.wind,
.wind-degree {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
